.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #3d9d84; }
.light-primary-color   { background: #b2ebcc; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }